{% extends "::base.html.twig" %}

{% block title %}AppBundle:ProductsImport:csv{% endblock %}

{% block javascript %}
<!-- defer: First let the DOM load and then perform the Javascript:-->
<script defer="defer">

</script>
{% endblock %}

{% block body %}
<h1>Welcome to the ProductsImport:csv page</h1>
{{ form_start(form) }}
    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
